@charset "utf-8";

.glyhphicon{
	color:#cdae51;
}

.btn-info{
	background-color:#cdae51;
	border-color: #3f2b22;
}
.btn-info:hover{
	background-color: #3f2b22;
	border-color: #333,
}

.tab-pane{
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	padding: 1em;
}